.side_menu_container{
  padding-top: 40px;
  padding-left: 25px;
}

.no-user-alert{
  color: red
}

#add-match{
  position: absolute;
  bottom: 15px;
}

.container{
    padding-top: 25px;
    padding-left: 100px;
}
